    /* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
    :root {
        --black: #171321;
        --dkblue: #0d314b;
        --plum: #4b0d49;
        --hotmag: #ff17e4;
        --magenta: #e310cb;
        --aqua: #86fbfb;
        --white: #f7f8fa;
        --font-size: 1.3rem;
        --mono: "Oxygen mono", monospace;
        --sans: Oxygen, sans-serif;
    }

    /* border box model: https://css-tricks.com/box-sizing/ */
    html {
        box-sizing: border-box;
    }

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    body {
        padding: 0;
        margin: 1rem;
        font-family: var(--sans);
        background-color: var(--black);
        color: var(--white);
        font-size: var(--font-size);
    }


    h1,
    h2,
    h3 {
        margin: 0;
    }

    a {
        color: var(--magenta);
    }

    a:hover {
        color: var(--hotmag);
        text-decoration: none;
    }

    nav {
        font-family: var(--mono);
        font-size: 80%;
        padding: 1rem;
    }

    nav h1 a {
        font-family: var(--sans);
    }


    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    #Footer p {
        color: var(--white);
        margin: 0 10px;
        font-size: 0.5em;
        padding: 0;
        margin: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }



    .btn {
        background-color: var(--plum);
        padding: 0.5rem;
        border-radius: 5px;
        font-family: sans-serif;
        color: var(--white);
    }

    .btn:hover {
        background-color: var(--hotmag);
        color: var(--white);
    }



    button {
        background-color: var(--plum);
        padding: 0.5rem;
        border-radius: 5px;
        font-family: sans-serif;
        color: var(--white);
    }

    button:hover {
        background-color: var(--hotmag);
        color: var(--white);
    }

    /* Table styles */
    .contacts-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 1rem;
    }

    .contacts-table th,
    .contacts-table td {
        border: 1px solid var(--white);
        padding: 0.5rem;
    }


    .validation-error {
        color: #ff0000;
        /* Red text color for errors */
        font-size: 14px;
        /* Adjust the font size for errors */
        margin-top: 5px;
        /* Add some space above the error message */
        display: block;
        /* Ensure error messages appear on a new line */
    }


    tr.htmx-swapping {
        opacity: 0;
        transition: opacity 1s ease-out;
    }