package view

import "fmt"
import "app/domain"

type ContactsPageData struct {
	Contacts []domain.Contact
}

func toString(data ContactsPageData) string {
	return fmt.Sprintf("%+v", data)
}

templ ContactsPageBody(data  ContactsPageData) {
	{ toString(data) }
}
